.taskContainer {
  width: 100%;
  height: 4.5rem;
  border-radius: 8px;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px var(--shadow);
}

.taskContainer + .taskContainer {
  margin-top: 0.75rem;
}

.task {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.taskContent {
  width: 100%;
  height: 100%;

  max-width: 39.8rem;
  max-height: 4.5rem;
  margin-left: 1rem;
}

.unChecked {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;

  background: var(--gray-500);
  border: 2px solid var(--blue-100);

  font-weight: 400;
  cursor: pointer;
}

.checked {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;

  background: var(--purple-300);
  border: 2px solid var(--purple-300);

  cursor: pointer;
}

.checked_text {
  background: var(--gray-500);
  border: none;
  text-decoration: line-through;
  color: var(--gray-300);
}

.unChecked_text {
  background: var(--gray-500);
  border: none;
  text-decoration: none;
  color: var(--gray-100);
}

.checked_text:hover, .unChecked_text:hover {
  cursor: pointer;
}

.styleCheckedIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-100);
}

.styleTrashIcon:hover {
  color: var(--red-200);
  cursor: pointer;
}