.overlayModal {
  background: var(--shadow);
  position: fixed;
  inset: 0;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 640px;
  min-width: 420px;
  max-height: 640px;
  min-width: 420px;
  padding: 1rem;
  border-radius: 8px;

  background: var(--gray-500);
}

.modalTitle {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.modalTitle input {
  width: 100%;
  border: none;

  background: var(--gray-500);
  color: var(--gray-300);
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
}

.modalTitle input:focus {
  border-bottom: 1px solid var(--gray-300);
}

.modalTitle span:hover {
  cursor: pointer;
}

.taskForm {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 420px;
  gap: 1rem;

  margin-top: 0.5rem;
}

.taskForm > button[type=submit] {
  height: 3rem;
  border-radius: 8px;

  background: var(--blue-300);
  border: none;

  color: var(--gray-100);
  font-weight: 700;

  transition: background-color 0.2s;
}

.taskForm > button[type=submit]:hover {
  background: var(--blue-100);
  cursor: pointer;
}

.taskDescription {
  width: 100%;
  height: 100%;
  resize: none;

  border-radius: 8px;
  padding: 0.8rem;

  text-align: justify;

  background: var(--gray-500);
  color: var(--gray-100);
}